:root {
    --font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: var(--font-size);
}

canvas, div {
    padding: 0;
    margin: auto;
    display: inline-block;
}

canvas {
    float: left;
}

div {
    background-color: lightgray;
}

p {
    margin: 3%;
    vertical-align: middle;
    text-align: center;
}

input {
    text-align: center;
    font-size: var(--font-size);
}

.input {
    float: right;
}

.title {
    font-weight: bold;
}

.units {
    text-decoration: underline;
}