:root {
    --font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: var(--font-size);
}

canvas, div {
    padding: 0;
    margin: auto;
    display: inline-block;
}

canvas {
    float: left;
}

div {
    background-color: lightgray;
    overflow: auto;
}

input {
    text-align: center;
    font-size: var(--font-size);
}

button {
    font-size: var(--font-size);
}

table {
    padding: 3%;
}

td {
    text-align: center;
    width: 100%;
}
